.dialogs {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 4fr 0.5fr;
    padding: 5px;

}

.dialogsElement {
    display: flex;
    flex-direction: column;
    font-size: large;
    background-color: orange;
    padding: 10px;
    margin-left: 2px;
    border-radius: 8px 0 0 8px;
}

.messagesElement {
    background-color: rgba(255, 165, 0, 0.7);
    border-radius:0 8px 8px 0;
}

.inputArea {
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 5px;

}

