
.headerArea {
    background-color: #6C63FF;
    display: grid;
    grid-area: h;

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 10px;
}

.header img {
    width: 40px;
}

.loginBlock {
    display: flex;
    align-items: center;
    gap: 5px;
}

.btnUp {
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 0.02em #000000;
    color: #FFFFFF;
}

.btnIn {
    border: none;
}

.btnSearch {
    width: 60px;
    height: 25px;
    border: none;
}
