.nav {
    grid-area: n;
    background-color: #FF9139;
    padding: 6px;

}
.ul {
    list-style-type: none;
    margin-left: 3px;
    padding-left: 3px;
    font-size: larger;
    font-weight: bolder;
}

.ul a{
    color: #5b5c5d;
    text-decoration: none;
}

.ul a.activeLink {
    font-size: larger;
    color: darkred;
}


