.input {
    width: 99%;
    height: 35px;
    border: 2px solid #2c2929;
    border-radius: 4px;
    resize: none;
}

.lebel {
    font-size: larger;
    font-weight: bold;
    color: #2c2929;
}

/*.area{*/
/*    position: relative;*/
/*    left:0em; bottom:200%*/
/*}*/
