.dialogUnit {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.ul  {
    list-style-type: none;
    margin-left: 3px;
    padding-left: 3px;
    font-size: larger;
    font-weight: bolder;
}
.ul.activeLink{
    font-size: larger;
    color: darkred;
}

.ul a {
    text-decoration: none;
    color: #5b5c5d;

}
.ul a:hover {
    color: #2be104;
}

.li {
    padding: 10px;
}

.messages {

    margin-left: 3px;
    padding-left: 3px;
    font-size: larger;
    font-weight: normal;
    color: #131313;
    font-style: italic;
}