.footer {
    background-color: #6C63FF;
    display: grid;
    grid-area: f;
}
.footer a {
    color: #232222;
    text-decoration: none;
    text-transform: capitalize;

}
.footer img {
    margin-right: 5px;
    width: 40px;

}
.footer ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 94px;
    flex-wrap: wrap;
}