.profile {
    display: grid;
    grid-template-areas:
    'BackImage BackImage BackImage'
    'Avatar Description'
    'InputArea InputArea InputArea'
    'ButtonSend ButtonSend ButtonSend'
    'MyPost MyPost MyPost';
    grid-template-rows: 250px 130px 100px 61px 5fr;
    /*grid-template-columns: 100px 1fr;*/
}