.site-wrapper {
    display: grid;
    grid-template-areas:
    'h h '
    'n c';
    grid-template-rows: 80px 1fr;
    grid-template-columns: 1fr 10fr;
    grid-gap: 2px;
    width: 1200px;
    height: 800px;
}
