.item{
    list-style-type: none;
    margin-left: 3px;
    padding-left: 3px;
    font-size: larger;
    font-style: italic;

}
/*.item.active{*/
/*    color: blueviolet;*/
/*    font-style: italic;*/
/*}*/
.item img {
    width:50px;
    height:50px;
    border-radius:50px
}